[Desktop Entry]
Encoding=UTF-8
Name=Lien vers https://www.terraform.io/docs/modules/sources.html#modules-in-package-sub-directories
Type=Link
URL=https://www.terraform.io/docs/modules/sources.html#modules-in-package-sub-directories
Icon=text-html
